{% include 'common/server/header.html' %}
<div class="row">
     <div class="col-xs-2" style="background-color: #0f0f0f;height: 1000px">{% include 'common/server/footer.html' %}</div>
     <div class="col-xs-10" style="height: 1000px">
         <div class="row" style="margin: 20px">
             <div class="panel panel-default">
                  <div class="panel-heading"><span class="glyphicon glyphicon-tag" ></span>平台整理指标  推荐</div>
             </div>
         </div>
         <table class="table table-hover table-bordered" style="text-align: center;">
              <thead>
                 <tr>
                <th style="text-align: center;"><input type="checkbox" value="" name="news"></th>
                   <th style="text-align: center;">id</th>
                   <th style="text-align: center;">名字</th>
                   <th style="text-align: center;">密码</th>
                   <th style="text-align: center;">封面图</th>
                <th style="text-align: center;">更新时间</th>
                   <th style="text-align: center;">邮箱</th>
                        <th style="text-align: center;">简介</th>
                   <th style="text-align: center;">操作</th>
                 </tr>
               </thead>
               {% for item in user %}
                   <tbody>
                   <tr>
                   <td><input type="checkbox" value="" name="news"></td>
                   <td>{{ item.id }}</td>
                   <td>{{ item.username }}</td>
                   <td>{{ item.password}}</td>
                   <td><img style="width: 50px;height: 50px" src="/static/uploads/{{ item.images}}"></td>
                    <td>{{ item.registtime|date:'Y-m-d h:m:s'}}</td>
                    <td>{{ item.email}}</td>
                    <td>{{ item.content}}</td>
                   <td>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-edit"onclick="copyText({{ item.id }})"></span></button>
                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash" onclick="delcopyText()"></span></button>
                </td>
                   </tr>
                   </tbody>
                {% endfor %}
             </table>

     </div>
</div>
</body>
<script>
    function copyText(data){
        console.log(data)
        location.href="/server/addcontentlist?id="+data
    }
    function delcopyText(data){
        console.log(data)
          $.ajax({
                        url:"/server/deladminHandle",
                        type:"get",
                        dataType:"json",
                        data:{
                            uid:data
                        },
                        success:function(data){
                                console.log( data)

                                var data1=JSON.parse(data);
                                if(data1["code"]==0){
                                    alert(data1["msg"]);
                                    location.href="/server/adminlist"
                                }else{
                                    alert(data1["msg"]);
                                }
                        }
                    });

    }


</script>
</html>