
{% include 'common/server/header.html' %}

<div class="row">
     <div class="col-xs-2" style="background-color: #0f0f0f;height: 1000px">{% include 'common/server/footer.html' %}</div>
     <div class="col-xs-10">
         <div class="row" style="border: 1px solid gold;margin: 20px">
            <div class="col-xs-3" ><h1>欢迎使用</h1></div>
            <div class="col-xs-2" style="margin-top:42px " ><span style="padding-top:200px;">路赞后台管理系统</span></div>
        </div>
         <div class="row" style="margin: 20px">
             <div class="panel panel-default">
                  <div class="panel-heading"><span class="glyphicon glyphicon-tag" ></span>平台整理指标  </div>
             </div>
         </div>

         <div class="row" style="padding: 20px">
             <div class="col-xs-6">
                 <div class="panel panel-primary">
                  <div class="panel-heading">
                    <div class="row">
                          <div class="col-xs-6" style="line-height: 90px"><span class="glyphicon glyphicon-cloud" style="font-size: 30px;color: white"></span></div>
                          <div class="col-xs-6" ><span  style="margin-top:20px;float: right"><p >今日登录用户数</p><p style="margin-left: 35px">250</p></span></div>
                      </div>
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-xs-6">查看</div>
                          <div class="col-xs-6" ><span class="glyphicon glyphicon-arrow-right" style="margin-left: 90%"></span></div>
                      </div>
                  </div>
                </div>
             </div>
              <div class="col-xs-6">
                 <div class="panel panel-success">
                  <div class="panel-heading">
                    <div class="row">
                          <div class="col-xs-6" style="line-height: 90px"><span class="glyphicon glyphicon-th-list" style="font-size: 30px;color: white"></span></div>
                          <div class="col-xs-6" ><span  style="margin-top:20px;float: right"><p >文章数量</p><p style="margin-left: 35px">250</p></span></div>
                      </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                          <div class="col-xs-6">查看</div>
                          <div class="col-xs-6" ><span class="glyphicon glyphicon-arrow-right" style="margin-left: 90%"></span></div>
                      </div>
                  </div>
                </div>
             </div>
              <div class="row" style="padding: 20px">
             <div class="col-xs-6">
                 <div class="panel panel-info">
                  <div class="panel-heading">
                    <div class="row">
                          <div class="col-xs-6" style="line-height: 90px"><span class="glyphicon glyphicon-stats" style="font-size: 30px;color: white"></span></div>
                          <div class="col-xs-6" ><span  style="margin-top:20px;float: right"><p >文章最大月度数量</p><p style="margin-left: 35px">250</p></span></div>
                      </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                          <div class="col-xs-6">查看</div>
                          <div class="col-xs-6" ><span class="glyphicon glyphicon-arrow-right" style="margin-left: 90%"></span></div>
                      </div>
                  </div>
                </div>
             </div>
              <div class="col-xs-6">
                 <div class="panel panel-danger">
                  <div class="panel-heading">
                    <div class="row">
                          <div class="col-xs-6" style="line-height: 90px"><span class="glyphicon glyphicon-filter" style="font-size: 30px;color: white"></span></div>
                          <div class="col-xs-6" ><span  style="margin-top:20px;float: right"><p >推存数量</p><p style="margin-left: 35px">250</p></span></div>
                      </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                          <div class="col-xs-6">查看</div>
                          <div class="col-xs-6" ><span class="glyphicon glyphicon-arrow-right" style="margin-left: 90%"></span></div>
                      </div>
                  </div>
                </div>
             </div>

         </div>
     </div>
</div>

</body>
</html>