<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>底部</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <script src="/static/js/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="container-fluid navbar-fixed-bottom navbar-inverse">
        <div class="row">
            <div class="col-xs-12">
                <div class="container-fluid">

                <div class="collapse navbar-collapse">
                     <div class="collapse navbar-collapse" style="color: #aa7700; text-align: center">
                        copyright @2017 Luzan.com lnc.All.Reights.Reserved.路赞杂志社 版权所有
                    </div>
                </div><!-- /.navbar-collapse -->
              </div>
            </div>
        </div>
    </div>
</body>
</html>