<div class="list-group" >
  <a href="#" class="list-group-item " style="color: white;background-color: #0f0f0f;border: 1px solid black">首页</a>
  <a href="#" class="list-group-item" style="color: white;background-color: #0f0f0f;border: 1px solid black">菜单管理</a>
  <a href="#" class="list-group-item" style="color: white;background-color: #0f0f0f;border: 1px solid black">文章管理</a>
  <a href="#" class="list-group-item" style="color: white;background-color: #0f0f0f;border: 1px solid black">用户管理</a>
  <a href="#" class="list-group-item" style="color: white;background-color: #0f0f0f;border: 1px solid black">推荐管理</a>
   <a href="#" class="list-group-item" style="color: white;background-color: #0f0f0f;border: 1px solid black">推荐位内容管理</a>
   <a href="#" class="list-group-item" style="color: white;background-color: #0f0f0f;border: 1px solid black">基本管理</a>
</div>