<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/js/jquery.form.js"></script>
{#    <script src="/static/js/jquery.js"></script>#}
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse" style="margin-bottom:0px">
    <span class="navbar-brand " style="border: 1px solid red ;margin-right: 70%">路赞后台管理系统</span>
     <span class="glyphicon glyphicon-user navbar-brand" aria-hidden="true"></span><span class="navbar-brand ">欢迎</span><span class="glyphicon glyphicon-log-out navbar-brand" aria-hidden="true"></span><span class="navbar-brand ">退出</span>
</nav>

</body>
</html>